.text1{
  max-width: 100%;
  background: blue;
  padding: 3px;
  color:yellow;
  font-size: 40px;
}

@media (min-width:320px) and (max-width:480px){

  .text1{
    color:red ;
  }  
}


  @media (min-width:481px) and (max-width:767px){
    .text1{
      color:rgb(157, 3, 247) ;
      background: rgb(78, 150, 31);

    }  

  }
  
